/* -- Content Block -------------- */
#content-block {
    padding-bottom: 30px;
    min-height: 400px;
}

#right-content-col {
    margin-top: 30px;
}

/* -- Copyright ------------------ */
#copyright-footer {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}