<div class="container footer-block">
    <div class="row">
        <div class="col-md-4">
            <a href="#">Impressum</a><br/>
            <a href="#">Contact</a><br/>
            <a href="#">xxx</a><br/>
        </div>
        <div class="col-md-4">
            <a href="#">Sitemap</a><br/>
            <a href="#">xxx</a><br/>
            <a href="#">xxx</a><br/>
        </div>
        <div class="col-md-4">
            <a href="#">xxx</a><br/>
            <a href="#">xxx</a><br/>
            <a href="#">xxx</a><br/>
        </div>
    </div>
</div>
<div class="copyright-footer">Copyright (c) 2014 by {{ '{{ project.name }}' }}</div>
