/* -- Required label --------------- */
label.required:after {
    content: "*";
}

/* -- Error label ------------------ */
label.error:before {
    font-family: FontAwesome;
    content: "\F071 ";
    color: #DF382C;
}
