{% extends "GuiBundle::base.html.twig" %}
{% block stylesheets %}
    <link href="{{ asset('bundles/gui/css/createForm.css') }}" rel="stylesheet">
{% endblock %}
{% block headline %}Create Form{% endblock %}
{% block content %}
    <div id="export-dialog" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Form HTML-Code</h4>
                </div>
                <div id="export-dialog-body" class="modal-body">
                    <p><textarea id="export-textarea" rows="18" class="form-control" name="textarea"></textarea></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="import-dialog" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div id="import-dialog-body" class="modal-body">
                    <p><textarea id="import-textarea" class="form-control" name="textarea"></textarea></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="$('#target fieldset').html($('#import-textarea').val());">Import</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Toolbar -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-brand">
                <!--<input id="filebutton" style="float:left;" name="filebutton" type="file" class="filestyle" data-buttonText="Import" data-classIcon="glyphicon glyphicon-import" data-input="false" data-classbutton="btn btn-default" value="Import">-->
                <!--<button type="button" class="btn btn-default" onclick="$('#import-dialog').modal();"><span class="glyphicon glyphicon-import"></span> Import</button>
                <button type="button" class="btn btn-default" onclick="$('#export-textarea').val($('#target fieldset').html()); $('#export-dialog').modal();"><span class="glyphicon glyphicon-export"></span> Export</button>
                <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Save</button>
                <button type="button" onclick="console.log($('#target'))" class="btn btn-default">Test</button>-->
                Drag&Drop the form elements into the form section
                <button type="button" class="btn btn-primary" onclick="$('#export-textarea').val($('#render').val()); $('#export-dialog').modal();"><span class="glyphicon glyphicon-list-alt"></span> Show form code</button>
            </div>
        </div>
    </nav>

    <!-- Building Form. -->
    <div style="float:left; width: 60%">
        <div id="build">
            <form id="target" role="form">
            </form>
        </div>
    </div>
    <!-- / Building Form. -->

    <!-- Components -->
    <div style="padding-left:20px; float:left; width: 40%">
        <div class="tabbable">
            <ul class="nav nav-tabs" id="formtabs">
                <!-- Tab nav -->
            </ul>
            <form role="form" id="components">
                <div class="form-group">
                    <div class="tab-content">
                        <!-- Tabs of snippets go here -->
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script data-main="{{ asset('bundles/gui/js/main.js') }}" src="{{ asset('bundles/gui/js/lib/require.js') }}" ></script>
{% endblock %}