{% extends "GuiBundle::base.html.twig" %}
{% block headline %}Encrypt Password{% endblock %}
{% block content %}
    <form id="dataForm1" name="dataForm1" role="form" method="post" action="{{ path('guiEncryptPassword') }}">
        <!-- Form Name -->
        <legend>Password encryption for security.yml users</legend>

        <!-- Password input-->
        <div class="form-group">
            <label for="passwordinput">Password*</label>
            <input id="passwordinput" name="passwordinput" type="password" placeholder="Password" value="{{ password }}" class="form-control" required="required"/>
            <p class="help-block">Insert here your password for encryption</p>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label for="password-token">Encrypted password token</label>
            <input id="password-token" name="password-token" type="text" placeholder="##############################" class="form-control" value="{{ token }}"/>
            <p class="help-block">This is your encrypted password</p>
        </div>

        <!-- Button -->
        <div class="form-group">
            <div class="control">
                <button id="encrypt-button" name="encrypt-button" type="submit" class="btn btn-primary">Encrypt</button>
            </div>
        </div>
    </form>
{% endblock %}