{% extends "GuiBundle::base.html.twig" %}
{% block headline %}Welcome to GUI! <small>a magic tool that can write code for you</small>{% endblock %}
{% block content %}
    <h4>Please select any option:</h4>
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-info">
                <div class="panel-heading"><h4>Bundle Generator</h4></div>
                <div class="panel-body">
                    <p style="height: 80px">This generator helps you to generate the skeleton code needed by a Symfony 2 bundle.</p>
                    <hr/>
                    <p class="text-right">
                        <button class="btn btn-default" onclick="location.href='{{ path('guiCreateBundle') }}';"><span class="glyphicon glyphicon-play"></span> Start</button>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-info">
                <div class="panel-heading"><h4>Controller Generator</h4></div>
                <div class="panel-body">
                    <p style="height: 80px">This generator helps you to quickly generate a new controller class, one or several controller actions and their corresponding views.</p>
                    <hr/>
                    <p class="text-right">
                        <button class="btn btn-default"><span class="glyphicon glyphicon-play"></span> Start</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
