<!-- Data Form -->
<form id="dataForm" name="dataForm" role="form" method="post" action="">

</form>

<!-- Form Validation-->
<script>
    // please comment in if you will use jquery form validation
    //$("#dataForm").validate();
</script>
