<div id="image-upload-form" style="text-align:center;">
    <p style="pointer-events:none;">
        <span class="glyphicon glyphicon-floppy-save"></span><br/>Drop images to upload
    </p>
    <div id="dz-details" class="hidden"></div>
    <div id="aloha-image-library"></div>
</div>